<div class="row sign-in-page">
  <div class="form">
    <ul class="tab-group">
      <li class="tab" ng-class="{'active': signInVisibility}" ng-click="showSignInForm(true)"><a>Sign Up</a></li>
      <li class="tab" ng-class="{'active': !signInVisibility}" ng-click="showSignInForm(false)"><a>Log In</a></li>
    </ul>

    <div class="tab-content">
      <div id="signup" ng-if="signInVisibility">
        <h1>Sign Up for Free</h1>
        <form name="userForm" novalidate ng-submit="userForm.$valid && userSignUp()">

          <div class="top-row">
            <div class="field-wrap" ng-class="{ 'has-error': (userForm.firstName.$touched && userForm.firstName.$invalid) || userForm.$submitted}">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" name="firstName" ng-model="user.firstName" required ng-minlength="3" autocomplete="off" />
              <error-message form-name="userForm" element-name="userForm.firstName"></error-message>
            </div>

            <div class="field-wrap" ng-class="{ 'has-error': (userForm.lastName.$touched && userForm.lastName.$invalid) || userForm.$submitted}">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text" name="lastName" ng-model="user.lastName" required ng-minlength="3" autocomplete="off"/>
              <error-message form-name="userForm" element-name="userForm.lastName"></error-message>
            </div>
          </div>

          <div class="field-wrap" ng-class="{ 'has-error': (userForm.emailId.$touched && userForm.emailId.$invalid) || userForm.$submitted}">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" name="emailId" ng-model="user.emailId" required ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" autocomplete="off"/>
            <error-message form-name="userForm" element-name="userForm.emailId"></error-message>
          </div>

          <div class="field-wrap" ng-class="{ 'has-error': (userForm.password.$touched && userForm.password.$invalid) || userForm.$submitted}">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password" name="password" ng-model="user.password" required ng-minlength="5" autocomplete="off"/>
            <error-message form-name="userForm" element-name="userForm.password"></error-message>
          </div>

          <button type="submit" class="button button-block">Get Started</button>

        </form>

      </div>

      <div id="login" ng-if="!signInVisibility">
        <h1>Welcome Back!</h1>

        <form name="userForm" novalidate ng-submit="userForm.$valid && userSignIn()">

          <div class="field-wrap" ng-class="{ 'has-error': (userForm.emailId.$touched && userForm.emailId.$invalid) || userForm.$submitted}">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email"  name="emailId" ng-model="user.emailId" required ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" autocomplete="off"/>
            <error-message form-name="userForm" element-name="userForm.emailId"></error-message>
          </div>

          <div class="field-wrap" ng-class="{ 'has-error': (userForm.password.$touched && userForm.password.$invalid) || userForm.$submitted}">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password" name="password" ng-model="user.password" required ng-minlength="6" autocomplete="off"/>
            <error-message form-name="userForm" element-name="userForm.password"></error-message>
          </div>

          <button type="submit" class="button button-block">Log In</button>

        </form>
      </div>
    </div><!-- tab-content -->
  </div> <!-- /form -->
</div>
