<!-- Main navigation -->
<header class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader"  ng-if="headerVisibility">
    <div id="inner-header" class="wrap container cf">
        <!-- logo -->
        <h1 id="logo" class="text-hide h1 pull-left" itemscope itemtype="http://schema.org/Organization">
            <a href="#/" rel="nofollow"><img src="" alt=""></a>
        </h1>
        <!-- hamburger icon -->
        <responsive-nav></responsive-nav>
        <!-- nav -->
        <nav role="navigation" class="main-nav text-center" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <ul class="menu cf">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="blockBuilder">Block Builder</a></li>
            </ul>
        </nav>
    </div>
</header>
