<div class="row block-builder-page" id="example-2-1">
  <div class="col-xs-3 toolbar">
    <div class="row m-0 m-t-25 block-area">
      <div class="col-xs-12">
        <div class="heading">Toolbar</div>
        <div class="listing">
          <div class="row sortable-list">
            <div class="tool in-block col-sm-6 p-0 sortable-item" data-type="heading"><img src="/images/toolbar/heading.png" class="img-responsive p-5 center"/> </div>
            <div class="tool in-block col-sm-6 p-0 sortable-item" data-type="paragraph"><img src="/images/toolbar/paragraph.png" class="img-responsive p-5 center"/> </div>
          </div>
          <div class="row sortable-list">
            <div class="tool in-block col-sm-6 p-0 sortable-item" data-type="link"><img src="/images/toolbar/link.png" class="img-responsive p-5 center"/> </div>
            <div class="tool in-block col-sm-6 p-0 sortable-item" data-type="image"><img src="/images/toolbar/image.png" class="img-responsive p-5 center"/> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-9 drawing-area">
    <div class="row m-0 m-t-25 block-area">
      <div class="col-xs-12">
        <div class="row">
          <ul class="sortable-list col-xs-12">

          </ul>
        </div>
        <div class="row">
          <div class="drawing-area-footer">
            <button class="btn btn-primary f10 pull-right">Show HTML</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0 m-t-25 output-box">
      <div class="col-xs-12">
        <div class="row heading">
          <div class="col-xs-12">Output (Code)</div>
        </div>
        <pre class="row code-box prettyprint">
          <code class="language-html"></code>
        </pre>
      </div>
    </div>
  </div>
</div>
