<div class="help-block" ng-messages="elementName.$error" ng-if="elementName.$touched || formName.$submitted">
  <p ng-message="minlength">Your name is too short.</p>
  <p ng-message="maxlength">Your name is too long.</p>
  <p ng-message="required">Your name is required.</p>
  <p ng-message="email">This needs to be a valid email</p>
</div>
