/******************************************************************

Site Name: AngularJS Boilerplate
Code: Jozef Butko - jozefbutko.com/resume
Date: Mar 2015

******************************************************************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// Helpers
@import "partials/helpers";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

/*********************
BASE (MOBILE) SIZE
*********************/

// styles in base.scss
@import "breakpoints/base";


/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
DESKTOP
*********************/
@media only screen and (min-width: 1030px) {

	// styles in 1030up.scss
	@import "breakpoints/1030up";

} // end of media query

/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (min-width: 1240px) {

	// styles in 1240up.scss
	@import "breakpoints/1240up";

} // end of media query

/*********************
RETINA (2x RESOLUTION DEVICES)
*********************/
// @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
//        only screen and (min--moz-device-pixel-ratio: 1.5),
//        only screen and (min-device-pixel-ratio: 1.5) {

// 	// styles in 2x.scss
// 	@import "breakpoints/2x";

// } // end of media query

/*********************
PRINT STYLESHEET
*********************/
@media print {

	// styles in print.scss
	@import "partials/print";

}

 body {
    font: 10px sans-serif;
}
.plot {
    fill: rgba(250, 250, 255, 0.6);
}
.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.line {
  fill: none;
  stroke-width: 1.5px;
  &.color-x{
    stroke: $green;
  }
  &.color-y{
    stroke: $yellow;
  }
  &.color-z{
    stroke: $blue;
  }
}

.circle-x{
  background-color: $green;
}
.circle-y{
  background-color: $yellow;
}
.circle-z {
  background-color: $blue;
}

.home-page{
  padding-top: 150px;
  h2{
    font-size: 65px;
    font-weight: bold;
    margin: 0 !important;
  }
  h3{
    font-size: 20px;
    margin: 0 !important;
  }
}

.block-builder-page{
  .block-area{
    min-height: calc(100vh - 95px);
    background-color: rgba(0,0,0,0.02);
    margin-left: 0;
    margin-right: 0;
    padding: 15px 0;
    border: 1px solid rgba(0,0,0,0.05);
  }
  .toolbar{
    .block-area{
      //overflow: hidden;
      //overflow-y: auto;
    }
    .heading{
      text-align: center;
      font-size: 14px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
      padding-bottom: 5px;
    }
    .listing{
      padding: 10px;
      img{
        cursor: pointer;
      }
    }
  }
  .drawing-area{
    padding-bottom: 30px;
    .block-area{
      padding-bottom: 0;
      background: url("/images/subtle_dots.png");
      background-repeat: repeat;
    }
    .sortable-list{
      height: calc(100vh - 150px);
      li{
        min-height: 85px;
        min-width: 100px;
        width: 250px;
        height: 150px;
        border: 2px solid rgba(0,0,0,0.05);
        padding: 10px 10px;
        margin: 5px;
        text-transform: capitalize;
        font-size: 15px;
        display: inline-block;
      }
      img{
        cursor: pointer;
      }
      .selected-item{
        position: relative;
        background-color: rgba(255,255,255,0.9);
        .heading{
          margin-bottom: 10px;
        }
        .edit-option{
          width: 20px;
          height: 20px;
          background: rgba(0,0,0,0.2);
          color: white;
          position: absolute;
          right: 10px;
          top: 10px;
          border-radius: 20px;
          text-align: center;
          cursor: pointer;
          &:hover{
            background: rgba(0,0,0,0.4);
          }
          .fa{
            font-size: 12px;
          }
        }
        input{
          max-height: 30px;
          max-width: 100%;
          width: 100%;
        }
        textarea{
          height: 100px;
          min-height: 100px;
          font-size: 13px;
          line-height: 16px;
          padding: 10px;
        }
      }
    }
    .drawing-area-footer{
      width: 100%;
      height: 40px;
      padding: 5px 15px;
      background-color: rgba(0,0,0,0.11);
    }
    .output-box{
      background-color: rgba(0,0,0,0.02);
      margin-left: 0;
      margin-right: 0;
      border: 1px solid rgba(0,0,0,0.15);
      background-color: white;
      .heading{
        background-color: #337ab7;
        color: white;
        font-size: 15px;
        text-transform: capitalize;
        padding: 10px 15px;
      }
      .code-box{
        padding: 0 15px 15px 15px;
        min-height: 300px;
        background-color: #F2F6FA;
        border-radius: 0;
      }
    }
  }
}



/*Sign In Page*/

.sign-in-page{
  *, *:before, *:after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: #1ab188;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  a:hover {
    color: #179b77;
  }

  .form {
    background: rgba(19, 35, 47, 0.9);
    padding: 30px;
    max-width: 450px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  }

  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
  }
  .tab-group .active a {
    background: #1ab188;
    color: #ffffff;
  }

  h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
  }

  label {
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 0;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 10px;
    top: -20px;
  }
  label .req {
    margin: 2px;
    color: #1ab188;
  }

  label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }

  label.highlight {
    color: #ffffff;
  }

  input, textarea {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 7px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
  }

  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }

  .field-wrap {
    position: relative;
    margin-bottom: 30px;
  }

  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }

  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  .button:hover, .button:focus {
    background: #179b77;
  }

  .button-block {
    display: block;
    width: 100%;
  }

  .forgot {
    margin-top: -20px;
    text-align: right;
  }

}


